.chon-div{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.block{
	width: 24%;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.block img{
	width: 100%;
}
.icons{
	position: absolute;
	bottom: 130px;
	right: -40px;
	transition: .5s;
}
.jurok{
	background: white;
	color: gray;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.cart{
	background: white;
	color: gray;
	padding: 10px;
	border-radius: 5px;
}
.jurok:hover{
	color: white;
	background: #a91d13;
}
.cart:hover{
	color: white;
	background: #a91d13;
}
.block:hover .icons{
	right: 20px;
	transition: .5s;
}

@media only screen and (max-width:900px){
	.block{
		width: 31%;
	}
}
@media only screen and (max-width:768px){
	.block{
		width: 48%;
	}
}


@media only screen and (max-width:600px){
	.block{
		width: 100%;
	}
}
